@page "/homes/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Searchs</h3>
<hr />
<br />

<FormComponent ButtonText="Create Search" search="search" OnValidSubmit="@CreateSearch" />

@code {
    Search search = new Search();


    private IList<Employer> Employers;
    private IList<Location> Locations;
    private IList<Review> Reviews;

    protected async override Task OnInitializedAsync()
    {
        Employers = await _client.GetFromJsonAsync<List<Employer>>($"{Endpoints.EmployersEndpoint}");
        Locations = await _client.GetFromJsonAsync<List<Location>>($"{Endpoints.LocationsEndpoint}");
        Reviews = await _client.GetFromJsonAsync<List<Review>>($"{Endpoints.ReviewsEndpoint}");
    }

    private async Task CreateSearch()
    {
        await _client.PostAsJsonAsync(Endpoints.SearchsEndpoint, search);
        _navManager.NavigateTo("/home/");
    }
}
