@page "/listings/reviews/{ListingId}/edit/{id:int}/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Review</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditReview" ListingId="@ListingId" review="review" />

@code {
    [Parameter] public int id { get; set; }
    [Parameter] public string ListingId { get; set; }
    Review review = new Review();

    protected async override Task OnParametersSetAsync()
    {
        review = await _client.GetFromJsonAsync<Review>($"{Endpoints.ReviewsEndpoint}/{ListingId}");
    }

    async Task EditReview()
    {
        await _client.PutAsJsonAsync($"{Endpoints.ReviewsEndpoint}/{ListingId}", review);
        _navManager.NavigateTo($"/listings/reviews/{ListingId}");
    }
}