@page "/listings/reviews/{ListingId}"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]


<h3 class="card-title"><b><u>Reviews</u></b></h3>
<br />
<a href="/listings/reviews/@ListingId/create/" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Write A Review
</a>
<br />
<br />

@if (Reviews == null)
{
    <div class="alert alert-info">Loading Reviews...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Job Seeker</th>
                <th>Review</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                
            @foreach (var review in Reviews)
            {
                <tr>
                    @foreach (var jos in JSs)
                    {
                        if (jos.Id == review.JSId)
                        {
                            <td>@jos.FirstName @jos.LastName</td>
                        }
                    }
                    <td>@review.Description</td>
                    <td>
                    
                        <a href="/listings/reviews/@listing.Id/view/@review.Id" class="btn btn-primary">
                            <span class="oi oi-eye"></span>
                        </a>
                        <a href="/listings/reviews/@listing.Id/edit/@review.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(review.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
}
<BackToList Target="listings" />
<SurveyPrompt Title="Any questions/problems?" />

@code {

    private List<Review> Reviews;
    private List<Listing> Listings;
    private List<JS> JSs;

    [Parameter] public int id { get; set; }
    [Parameter] public string ListingId { get; set; }
    Review review = new Review();
    Listing listing = new Listing();
    protected async override Task OnInitializedAsync()
    {
        Reviews = await _client.GetFromJsonAsync<List<Review>>($"{Endpoints.ReviewsEndpoint}/{ListingId}");
        JSs = await _client.GetFromJsonAsync<List<JS>>($"{Endpoints.JSsEndpoint}");
        Listings = await _client.GetFromJsonAsync<List<Listing>>($"{Endpoints.ListingsEndpoint}");
    }

    protected async override Task OnParametersSetAsync()
    {
        listing = await
        _client.GetFromJsonAsync<Listing>($"{Endpoints.ListingsEndpoint}/{ListingId}");
    }

    async Task Delete(int reviewId)
    {
        var review = Reviews.First(q => q.Id == reviewId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {review.Id}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.ReviewsEndpoint}/{reviewId}");
            await OnInitializedAsync();
        }
    }

}
