@page "/listings/reviews/{ListingId}/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3><b><u>View</u></b></h3>

<FormComponent review="review" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    [Parameter] public string ListingId { get; set; }
    Review review = new Review();
    Listing listing = new Listing();
    protected async override Task OnParametersSetAsync()
    {
        review = await
        _client.GetFromJsonAsync<Review>($"{Endpoints.ReviewsEndpoint}/{id}");
    }

}