@page "/abouts/"


<br />
<br />

<span class="fas fa-suitcase"></span>
<h1 style="text-align:center;"><b><u>About</u></b></h1>
<p style="text-align:center;">JobHall provides the easiest & best way to find jobs/post listings<br />
    We are an user-friendly job board website<br />
    Featuring ratings of job listings by jobs seekers<br />
    Employers are allowed to post a variety of listings too</p>

<SurveyPrompt Title="Any questions/problems?" />